- if @templates.size == 0
  %h3.col-md-12#save-instructions sorry it seems like we do not have any templates at this time 
- else
  %h3.col-md-12#save-instructions Here is a list of our current available templates:
  .div.spacer
  - @templates.all.each do |temp|
    %div.display-blocks
      =link_to temp.name, "/template/#{temp.name}"