%h3.col-md-12#save-instructions Copy the generated code below into your ebay listing and your done!

%textarea.form-control{:rows => "15"}
  = @html

.row
  - if current_user
    %h2.color-blue.col-md-12#save-header Click Here To Save This Listing
  - else
    %h1 Not signed in 



.row
  
  = form_for @listing do |f|
    .form-group
      %div
        = f.text_field :name, :placeholder => "Enter Listing Name Here Then Hit Enter", :class => "text_field form-control col-md-offset-4", :id => "listing-name"
  

:javascript
  $(document).ready( function() {

    $('#save-header').click(function(){
      $('#save-header').hide();
      $('.form-group').removeClass('hidden');
    })

  } );