%h3 Welcome to the custom Ebay listing tool! Please log in or simply start creating a listing

.login-area
  = link_to("log in", new_user_session_path)
  = link_to("create account", new_user_registration_path)

= link_to "create listing", "templates"