/* Header and header content styling */
#header-row{
  background-color: white;
  border-bottom: 1px solid rgba(0,0,0, .5) 
}

body{
  /*background-color: #3ec7c2;*/
}

header{
  height: 100px;
}

.header-buttons{
  color: black;
  height:100px;
  line-height: 100px;
  text-align: center;
}

.header-buttons a{
  font-size: 1.2em;
  color: black;
  font-weight: 500;
}

a{transition: color .2s ease;}

a:hover{
  color: #3ec7c2;
  text-decoration: none;
}

.action-buttons{
  /*border-right: 1px solid rgba(0,0,0, .5);*/
  /*transition: background-color 0.5s ease;*/
}

.first-button{
  /*border-left: 1px solid rgba(0,0,0, .5);*/
}

/* Page Content */

.color-text{
  color: #3ec7c2;
}

#head-text{
  font-size: 5em;
  font-weight: 900;
}

#ebay-span{
  color: #3a3b3d;
}

.color-blue{
  color: #3ec7c2;
}

#outline-text{
  color: white;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}

#no-code{
  border-bottom: 4px solid #3ec7c2;
}

#code-description{
  color: #3a3b3d;
  margin-top: 150px;
}

#bottom-text{
  margin-top: 100px;
}